@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0) rotate(15deg);
  }
  50% {
    transform: translateY(10px) rotate(5deg);
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

svg path, svg circle, svg rect, svg ellipse, svg line, svg polyline, svg polygon {
  vector-effect: non-scaling-stroke !important;
}

@font-face {
  font-family: "Azeret Mono";
  src: url("/fonts/AzeretMono-VariableFont_wght.ttf");
}
:root {
  --black: #030203;
  --white: #F5EEEB;
  --gray-light: #D0D1CF;
  --gray-dark: #2B2B2B;
  --backing-light: #EAE5E2;
  --backing-dark: #171517;
  --shadow: rgba(8, 7, 8, .10);
  --air-mail: #90A6FD;
  --mit: #FC6E47;
  --nasdaq: #359D72;
  --seatgeek: #D4425F;
  --gradient-device: linear-gradient(to right bottom, #2E2A2E, #080708);
  --bg: var(--white);
  --color: var(--black);
  --border: var(--gray-light);
}

:root {
  --maxw: 1000px;
  --nav-height: 60px;
  --radius-lg: 20px;
  --radius-md: 15px;
  --radius-sm: 10px;
}

:root {
  --sp: 15px;
}
@media (min-width: 1000px) {
  :root {
    --sp: 30px;
  }
}

:root {
  --stroke: 1px;
}

:root {
  --text-xxl: 40px;
  --text-xl: 27.5px;
  --text-lg: 20px;
  --text-md: 15px;
  --text-sm: 15px;
  --text-title: 45px;
  --text-eyebrow: 15px;
}
@media (min-width: 1000px) {
  :root {
    --text-xxl: 45px;
    --text-xl: 35px;
    --text-lg: 25px;
    --text-md: 15px;
    --text-sm: 12px;
    --text-title: 75px;
    --text-eyebrow: 17.5px;
  }
}

.txt-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.txt-inline {
  display: inline-block;
}

.txt-sm {
  font-size: var(--text-sm);
}

.txt-md, p, html, .txt-md-caps, .table-results .result .stat {
  font-size: var(--text-md);
  line-height: 1.5em;
  font-weight: 300;
}

* + .txt-md, * + p, * + html, * + .txt-md-caps, .table-results .result * + .stat {
  margin-top: 1em;
}

.txt-md-caps, .table-results .result .stat {
  text-transform: uppercase;
  font-weight: 350;
}

.txt-lg, .dropdown-desktop li:before, h2, h3, h4 {
  font-size: var(--text-lg);
  line-height: 1.35em;
  letter-spacing: -0.01em;
  font-weight: 200;
}

.txt-lg-title {
  letter-spacing: -0.01em;
  line-height: 1em;
}

.txt-title {
  font-size: var(--text-title);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-weight: 625;
}

.txt-header-xl {
  font-size: var(--text-xl);
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: 150;
  letter-spacing: 0;
}

.txt-header-xxl {
  font-size: var(--text-xxl);
  line-height: 1.15em;
  font-weight: 100;
  letter-spacing: -0.03em;
}
.txt-header-xxl b {
  font-weight: 550;
}
.txt-header-xxl.txt-uppercase {
  letter-spacing: 0;
}

@media (min-width: 1000px) {
  .txt-inset {
    padding: 0 calc(var(--sp) * 2);
  }
}

.txt-center {
  text-align: center;
}

.txt-light {
  opacity: 0.7;
}

.eyebrow, .cs-award, .button, nav a, .separator-sm, .eyebrow-pinned {
  font-size: var(--text-eyebrow);
  text-transform: uppercase;
  line-height: 1.3333333em;
  font-weight: 300;
}
.eyebrow + .divider-sm, .cs-award + .divider-sm, .button + .divider-sm, nav a + .divider-sm, .separator-sm + .divider-sm, .eyebrow-pinned + .divider-sm {
  margin-top: var(--sp);
}
.eyebrow + img, .cs-award + img, .button + img, nav a + img, .separator-sm + img, .eyebrow-pinned + img {
  margin-top: var(--sp);
}

.content-tray .button {
  opacity: 1;
}

@media (min-width: 1000px) {
  .eyebrow-pinned {
    position: absolute;
    left: var(--sp);
    top: var(--sp);
  }
  .eyebrow-pinned + * {
    margin-top: 0;
  }
}

html {
  font-family: "Azeret Mono", monospace;
  color: var(--black);
  font-feature-settings: "ss09" 1, "dlig" 1, "zero" 1;
}

img, svg {
  display: block;
  width: 100%;
  min-width: 0;
  height: auto;
}

img {
  border-radius: 10px;
}
img.img-raw {
  border-radius: 0;
}
img + .eyebrow, img + .cs-award, img + .button, nav img + a, img + .separator-sm, img + .eyebrow-pinned {
  margin-top: 60px;
}
img + img {
  margin-top: calc(var(--sp) * 1.5);
}

@media (min-width: 1000px) {
  .img-inset {
    width: 66.667%;
    margin: calc(var(--sp) * 1.5) auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: var(--stroke);
}

b {
  font-weight: 625;
}

.divider-h {
  background: var(--border);
  height: var(--stroke);
  width: 100%;
}

.divider-sm {
  background: var(--color);
  height: var(--stroke);
  width: 15px;
}

.header-full svg {
  height: 35px;
}

.txt-break {
  display: inline-block;
}

.divider-tilt {
  width: 55px;
  height: var(--stroke);
  background: var(--color);
  display: block;
  transform: rotate(-15deg);
}

.chip-lg svg {
  height: calc(var(--sp) * 2.5);
  margin-bottom: calc(var(--sp) * 3);
}

body {
  background: var(--bg);
  color: var(--color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-top: var(--nav-height);
}

.theme-page {
  --bg: var(--page);
  --color: var(--black);
  --border: var(--black);
  --highlight: var(--white);
}

.theme-light {
  --bg: var(--white);
  --color: var(--black);
  --border: var(--gray-light);
  --highlight: var(--page);
  --backing: var(--backing-light);
}

.theme-backing-light {
  --bg: var(--backing-light);
  --color: var(--black);
  --border: var(--gray-light);
  --highlight: var(--page);
  --backing: var(--white);
}

.theme-dark {
  --bg: var(--black);
  --color: var(--white);
  --border: var(--gray-dark);
  --highlight: var(--page);
  --backing: var(--backing-dark);
}

.to-light, .to-dark {
  position: relative;
}
.to-light::before, .to-dark::before {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.to-light *, .to-dark * {
  z-index: 1;
}

.to-light::before {
  background: var(--white);
}

.to-dark::before {
  background: var(--black);
}

.bg-light:before {
  background: var(--white);
}
.bg-light * {
  position: relative;
  z-index: 10;
}

.block:before, header:before {
  z-index: 10;
}

.cell:before, nav:before {
  z-index: 9;
}

.border-all:before, .home-hero-grid .cell:before, .home-hero-grid nav:before, .content-grid .block:before, .grid-stark .block:before, .content-grid header:before, .grid-stark header:before, .grid-inset .block:before, .grid-inset header:before, .content-grid .cell:before, .grid-stark .cell:before, .content-grid nav:before, .grid-stark nav:before, .grid-inset .cell:before, .grid-inset nav:before, .border-all-stacked:before, .content-border-all:before, .content-border-all-stacked:before, .grid-stark:before, .border-b:before, .border-t:before, .table-results .result:before {
  content: "";
  border: var(--stroke) solid var(--border);
  position: absolute;
  left: calc(var(--stroke) * -0.5);
  right: calc(var(--stroke) * -0.5);
  top: calc(var(--stroke) * -0.5);
  bottom: calc(var(--stroke) * -0.5);
  pointer-events: none;
  z-index: 1;
}

.border-t:before, .table-results .result:before {
  border-width: var(--stroke) 0 0 0;
  bottom: unset;
}

.border-b:before {
  border-width: 0 0 var(--stroke) 0;
  top: unset;
}

.border-t-full:before {
  content: "";
  border-top: var(--stroke) solid var(--border);
  position: absolute;
  left: 50%;
  top: calc(var(--stroke) * -0.5);
  width: 100vw;
  transform: translate(-50%, 0);
}

.border-t-full-right:before {
  content: "";
  border-top: var(--stroke) solid var(--border);
  position: absolute;
  left: 0;
  top: calc(var(--stroke) * -0.5);
  width: 100vw;
}

.border-b-full:before {
  content: "";
  border-top: var(--stroke) solid var(--border);
  position: absolute;
  left: 50%;
  bottom: calc(var(--stroke) * -0.5);
  width: 100vw;
  transform: translate(-50%, 0);
}

.border-dark:before {
  border-color: var(--black);
}

.rounded-top {
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}
.rounded-top:before {
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

@media (min-width: 1000px) {
  .split-2:after {
    content: "";
    background: var(--border);
    width: var(--stroke);
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
}

.content-border-all:before, .content-border-all-stacked:before, .grid-stark:before {
  left: calc(var(--sp) * 2);
  right: calc(var(--sp) * 2);
}

.border-all-stacked:before {
  box-shadow: 10px 10px 0 calc(var(--stroke) * -1) var(--color), 10px 10px 0 0 var(--border);
}

.content-border-all-stacked:before, .grid-stark:before {
  box-shadow: 10px 10px 0 calc(var(--stroke) * -1) var(--color), 10px 10px 0 0 var(--border);
}

.content-solid .cell, .content-solid nav {
  background: var(--bg);
}

.grid-inset:before {
  border: none;
}

section, .block, header, .cell, nav {
  position: relative;
  width: 100%;
}

@media (min-width: 1000px) {
  .group-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

* + .group-content {
  margin-top: calc(var(--sp) * 2);
}

section {
  background: var(--bg);
  color: var(--color);
  --backing: var(--backing-light);
}
@media (min-width: 1000px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.block, header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--maxw);
}
@media (min-width: 1000px) {
  .block, header {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 var(--sp);
  }
  .block .block, header .block, .block header, header header {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-inset, .grid-stark, .grid-inset {
  padding: calc(var(--sp) * 2);
}
@media (min-width: 1000px) {
  .block-inset, .grid-stark, .grid-inset {
    padding: 0 calc(var(--sp) * 2);
  }
  .block-inset .eyebrow-pinned, .grid-stark .eyebrow-pinned, .grid-inset .eyebrow-pinned {
    left: var(--sp);
  }
}

.cell, nav {
  width: 100%;
  padding: var(--sp) calc(var(--sp) * 2);
}
@media (min-width: 1000px) {
  .cell, nav {
    padding: 0 var(--sp);
  }
}

@media (min-width: 1000px) {
  .c-1 {
    width: 16.6666666667%;
  }
}

@media (min-width: 1000px) {
  .c-2 {
    width: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .c-3 {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .c-4 {
    width: 66.6666666667%;
  }
}

@media (min-width: 1000px) {
  .c-5 {
    width: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  .c-6 {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .o-1 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 1000px) {
  .o-2 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .o-3 {
    margin-left: 50%;
  }
}

@media (min-width: 1000px) {
  .o-4 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 1000px) {
  .o-5 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  .o-6 {
    margin-left: 100%;
  }
}

@media (min-width: 1000px) {
  .p-1 {
    margin-right: 16.6666666667%;
  }
}

@media (min-width: 1000px) {
  .p-2 {
    margin-right: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .p-3 {
    margin-right: 50%;
  }
}

@media (min-width: 1000px) {
  .p-4 {
    margin-right: 66.6666666667%;
  }
}

@media (min-width: 1000px) {
  .p-5 {
    margin-right: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  .p-6 {
    margin-right: 100%;
  }
}

.cell-sm {
  padding: calc(var(--sp) * 0.5);
}

.cell-lg {
  padding: calc(var(--sp) * 2);
}

@media (min-width: 1000px) {
  .cell-wide {
    padding-left: var(--sp);
    padding-right: var(--sp);
  }
}

.cell-tall {
  padding-top: calc(var(--sp) * 3);
  padding-bottom: calc(var(--sp) * 3);
}

.cell-xtall {
  padding-top: calc(var(--sp) * 4);
  padding-bottom: calc(var(--sp) * 4);
}

.content-tray img, .cell-tray img {
  filter: drop-shadow(0 5px calc(var(--sp) * 1.5) var(--shadow));
}

.content-tray {
  background: var(--backing);
  margin: 0 var(--sp);
  padding: var(--sp) 0;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-width: calc(var(--maxw) - var(--sp) * 2);
}
.content-tray + .content-tray {
  margin-top: var(--sp);
}
@media (max-width: 999px) {
  .content-tray .cell, .content-tray nav {
    padding-left: var(--sp);
    padding-right: var(--sp);
  }
}
@media (min-width: 1000px) {
  .content-tray {
    width: calc(100% - var(--sp) * 2);
    padding-bottom: calc(var(--sp) * 1.5);
    margin: 0;
  }
}
.content-tray + .header-split {
  margin-top: calc(var(--sp) * 3);
}

.content-tray-inset {
  padding: calc(var(--sp) * 2) var(--sp);
  width: auto;
  max-width: calc(var(--maxw) - var(--sp) * 4);
}
@media (min-width: 1000px) {
  .content-tray-inset {
    width: calc(100% - var(--sp) * 4);
  }
}

.cell-tray {
  background: var(--backing);
  padding: var(--sp) var(--sp) calc(var(--sp) * 1.5);
  margin: 0 var(--sp);
  width: auto;
  border-radius: 15px;
}
@media (min-width: 1000px) {
  .cell-tray {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .sp-h-0 {
    padding-left: calc(var(--sp) * 0);
    padding-right: calc(var(--sp) * 0);
  }
}

.sp-v-0 {
  padding-top: calc(var(--sp) * 0);
  padding-bottom: calc(var(--sp) * 0);
}

.sp-t-0 {
  padding-top: calc(var(--sp) * 0);
}

.sp-b-0 {
  padding-bottom: calc(var(--sp) * 0);
}

@media (min-width: 1000px) {
  .sp-h-0-5 {
    padding-left: calc(var(--sp) * 0.5);
    padding-right: calc(var(--sp) * 0.5);
  }
}

.sp-v-0-5 {
  padding-top: calc(var(--sp) * 0.5);
  padding-bottom: calc(var(--sp) * 0.5);
}

.sp-t-0-5 {
  padding-top: calc(var(--sp) * 0.5);
}

.sp-b-0-5 {
  padding-bottom: calc(var(--sp) * 0.5);
}

@media (min-width: 1000px) {
  .sp-h-1 {
    padding-left: var(--sp);
    padding-right: var(--sp);
  }
}

.sp-v-1 {
  padding-top: var(--sp);
  padding-bottom: var(--sp);
}

.sp-t-1 {
  padding-top: var(--sp);
}

.sp-b-1 {
  padding-bottom: var(--sp);
}

@media (min-width: 1000px) {
  .sp-h-1-5 {
    padding-left: calc(var(--sp) * 1.5);
    padding-right: calc(var(--sp) * 1.5);
  }
}

.sp-v-1-5 {
  padding-top: calc(var(--sp) * 1.5);
  padding-bottom: calc(var(--sp) * 1.5);
}

.sp-t-1-5 {
  padding-top: calc(var(--sp) * 1.5);
}

.sp-b-1-5 {
  padding-bottom: calc(var(--sp) * 1.5);
}

@media (min-width: 1000px) {
  .sp-h-2 {
    padding-left: calc(var(--sp) * 2);
    padding-right: calc(var(--sp) * 2);
  }
}

.sp-v-2 {
  padding-top: calc(var(--sp) * 2);
  padding-bottom: calc(var(--sp) * 2);
}

.sp-t-2 {
  padding-top: calc(var(--sp) * 2);
}

.sp-b-2 {
  padding-bottom: calc(var(--sp) * 2);
}

@media (min-width: 1000px) {
  .sp-h-2-5 {
    padding-left: calc(var(--sp) * 2.5);
    padding-right: calc(var(--sp) * 2.5);
  }
}

.sp-v-2-5 {
  padding-top: calc(var(--sp) * 2.5);
  padding-bottom: calc(var(--sp) * 2.5);
}

.sp-t-2-5 {
  padding-top: calc(var(--sp) * 2.5);
}

.sp-b-2-5 {
  padding-bottom: calc(var(--sp) * 2.5);
}

@media (min-width: 1000px) {
  .sp-h-3 {
    padding-left: calc(var(--sp) * 3);
    padding-right: calc(var(--sp) * 3);
  }
}

.sp-v-3 {
  padding-top: calc(var(--sp) * 3);
  padding-bottom: calc(var(--sp) * 3);
}

.sp-t-3 {
  padding-top: calc(var(--sp) * 3);
}

.sp-b-3 {
  padding-bottom: calc(var(--sp) * 3);
}

@media (min-width: 1000px) {
  .sp-h-3-5 {
    padding-left: calc(var(--sp) * 3.5);
    padding-right: calc(var(--sp) * 3.5);
  }
}

.sp-v-3-5 {
  padding-top: calc(var(--sp) * 3.5);
  padding-bottom: calc(var(--sp) * 3.5);
}

.sp-t-3-5 {
  padding-top: calc(var(--sp) * 3.5);
}

.sp-b-3-5 {
  padding-bottom: calc(var(--sp) * 3.5);
}

@media (min-width: 1000px) {
  .sp-h-4 {
    padding-left: calc(var(--sp) * 4);
    padding-right: calc(var(--sp) * 4);
  }
}

.sp-v-4 {
  padding-top: calc(var(--sp) * 4);
  padding-bottom: calc(var(--sp) * 4);
}

.sp-t-4 {
  padding-top: calc(var(--sp) * 4);
}

.sp-b-4 {
  padding-bottom: calc(var(--sp) * 4);
}

@media (min-width: 1000px) {
  .sp-h-4-5 {
    padding-left: calc(var(--sp) * 4.5);
    padding-right: calc(var(--sp) * 4.5);
  }
}

.sp-v-4-5 {
  padding-top: calc(var(--sp) * 4.5);
  padding-bottom: calc(var(--sp) * 4.5);
}

.sp-t-4-5 {
  padding-top: calc(var(--sp) * 4.5);
}

.sp-b-4-5 {
  padding-bottom: calc(var(--sp) * 4.5);
}

@media (min-width: 1000px) {
  .sp-h-5 {
    padding-left: calc(var(--sp) * 5);
    padding-right: calc(var(--sp) * 5);
  }
}

.sp-v-5 {
  padding-top: calc(var(--sp) * 5);
  padding-bottom: calc(var(--sp) * 5);
}

.sp-t-5 {
  padding-top: calc(var(--sp) * 5);
}

.sp-b-5 {
  padding-bottom: calc(var(--sp) * 5);
}

@media (min-width: 1000px) {
  .sp-h-5-5 {
    padding-left: calc(var(--sp) * 5.5);
    padding-right: calc(var(--sp) * 5.5);
  }
}

.sp-v-5-5 {
  padding-top: calc(var(--sp) * 5.5);
  padding-bottom: calc(var(--sp) * 5.5);
}

.sp-t-5-5 {
  padding-top: calc(var(--sp) * 5.5);
}

.sp-b-5-5 {
  padding-bottom: calc(var(--sp) * 5.5);
}

@media (min-width: 1000px) {
  .sp-h-6 {
    padding-left: calc(var(--sp) * 6);
    padding-right: calc(var(--sp) * 6);
  }
}

.sp-v-6 {
  padding-top: calc(var(--sp) * 6);
  padding-bottom: calc(var(--sp) * 6);
}

.sp-t-6 {
  padding-top: calc(var(--sp) * 6);
}

.sp-b-6 {
  padding-bottom: calc(var(--sp) * 6);
}

@media (min-width: 1000px) {
  .sp-h-6-5 {
    padding-left: calc(var(--sp) * 6.5);
    padding-right: calc(var(--sp) * 6.5);
  }
}

.sp-v-6-5 {
  padding-top: calc(var(--sp) * 6.5);
  padding-bottom: calc(var(--sp) * 6.5);
}

.sp-t-6-5 {
  padding-top: calc(var(--sp) * 6.5);
}

.sp-b-6-5 {
  padding-bottom: calc(var(--sp) * 6.5);
}

@media (min-width: 1000px) {
  .sp-h-7 {
    padding-left: calc(var(--sp) * 7);
    padding-right: calc(var(--sp) * 7);
  }
}

.sp-v-7 {
  padding-top: calc(var(--sp) * 7);
  padding-bottom: calc(var(--sp) * 7);
}

.sp-t-7 {
  padding-top: calc(var(--sp) * 7);
}

.sp-b-7 {
  padding-bottom: calc(var(--sp) * 7);
}

@media (min-width: 1000px) {
  .sp-h-7-5 {
    padding-left: calc(var(--sp) * 7.5);
    padding-right: calc(var(--sp) * 7.5);
  }
}

.sp-v-7-5 {
  padding-top: calc(var(--sp) * 7.5);
  padding-bottom: calc(var(--sp) * 7.5);
}

.sp-t-7-5 {
  padding-top: calc(var(--sp) * 7.5);
}

.sp-b-7-5 {
  padding-bottom: calc(var(--sp) * 7.5);
}

@media (min-width: 1000px) {
  .sp-h-8 {
    padding-left: calc(var(--sp) * 8);
    padding-right: calc(var(--sp) * 8);
  }
}

.sp-v-8 {
  padding-top: calc(var(--sp) * 8);
  padding-bottom: calc(var(--sp) * 8);
}

.sp-t-8 {
  padding-top: calc(var(--sp) * 8);
}

.sp-b-8 {
  padding-bottom: calc(var(--sp) * 8);
}

@media (min-width: 1000px) {
  .sp-h-8-5 {
    padding-left: calc(var(--sp) * 8.5);
    padding-right: calc(var(--sp) * 8.5);
  }
}

.sp-v-8-5 {
  padding-top: calc(var(--sp) * 8.5);
  padding-bottom: calc(var(--sp) * 8.5);
}

.sp-t-8-5 {
  padding-top: calc(var(--sp) * 8.5);
}

.sp-b-8-5 {
  padding-bottom: calc(var(--sp) * 8.5);
}

@media (min-width: 1000px) {
  .sp-h-9 {
    padding-left: calc(var(--sp) * 9);
    padding-right: calc(var(--sp) * 9);
  }
}

.sp-v-9 {
  padding-top: calc(var(--sp) * 9);
  padding-bottom: calc(var(--sp) * 9);
}

.sp-t-9 {
  padding-top: calc(var(--sp) * 9);
}

.sp-b-9 {
  padding-bottom: calc(var(--sp) * 9);
}

@media (min-width: 1000px) {
  .sp-h-9-5 {
    padding-left: calc(var(--sp) * 9.5);
    padding-right: calc(var(--sp) * 9.5);
  }
}

.sp-v-9-5 {
  padding-top: calc(var(--sp) * 9.5);
  padding-bottom: calc(var(--sp) * 9.5);
}

.sp-t-9-5 {
  padding-top: calc(var(--sp) * 9.5);
}

.sp-b-9-5 {
  padding-bottom: calc(var(--sp) * 9.5);
}

@media (min-width: 1000px) {
  .sp-h-10 {
    padding-left: calc(var(--sp) * 10);
    padding-right: calc(var(--sp) * 10);
  }
}

.sp-v-10 {
  padding-top: calc(var(--sp) * 10);
  padding-bottom: calc(var(--sp) * 10);
}

.sp-t-10 {
  padding-top: calc(var(--sp) * 10);
}

.sp-b-10 {
  padding-bottom: calc(var(--sp) * 10);
}

@media (min-width: 1000px) {
  .dist-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--sp) * 2);
  }
  .dist-h * {
    margin-top: 0;
    flex: 1;
  }
}

.sep-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(var(--sp) * 2);
}
.sep-h * {
  margin-top: 0;
}

@media (min-width: 1000px) {
  .rail-h {
    padding-left: calc(var(--sp) * 2);
    padding-right: calc(var(--sp) * 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--sp) * 2);
  }
  .rail-h * {
    flex: 1;
  }
}
@media (min-width: 1000px) {
  .rail-h .cell, .rail-h nav {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-hero {
  z-index: 10;
}
.header-hero .cell, .header-hero nav {
  gap: var(--sp);
  align-items: center;
}
.header-hero h3 {
  flex: 3.5;
}
.header-hero span {
  position: relative;
  height: 100%;
}
.header-hero svg {
  width: 25%;
  margin: calc(var(--sp) * 2) 0 calc(var(--sp) * -5);
}
@media (min-width: 1000px) {
  .header-hero svg {
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header-hero .button {
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: -56px;
  transform: translate(-50%, 0);
}
@media (min-width: 1000px) {
  .header-hero .button {
    bottom: -100px;
  }
}

.separator-sm {
  padding-left: calc(var(--sp) * 2);
  position: relative;
}
.separator-sm:before, .separator-sm:after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--color);
}
.separator-sm:before {
  left: 0;
  top: 0;
  width: calc(var(--sp) * 1.5);
  height: 50%;
  border-width: 0 0 1px 1px;
}
.separator-sm:after {
  width: 10px;
  height: 10px;
  left: calc(var(--sp) * 1.5 - 10px);
  top: calc(50% - 5px);
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
}

* + .separator-sm {
  margin-top: calc(var(--sp) * 1.5);
}

.row-inline {
  display: flex;
  flex-direction: column;
  gap: var(--sp);
}
@media (min-width: 1000px) {
  .row-inline {
    flex-direction: row;
    justify-content: space-between;
  }
  .row-inline img {
    flex: 1;
    height: auto;
    margin: 0;
  }
}
.row-inline + img {
  margin-top: calc(var(--sp) * 1.5);
}

* + .row-inline {
  margin-top: calc(var(--sp) * 1.5);
}

.youtube-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.full-h {
  max-width: 100%;
}
@media (min-width: 1500px) {
  .full-h {
    padding: 0 clamp(0px, 3vw, 3vw);
  }
}

section.flush, .block.flush, header.flush, .cell.flush, nav.flush {
  padding: 0;
  margin: 0;
}
section.flush-h, .block.flush-h, header.flush-h, .cell.flush-h, nav.flush-h {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
section.flush-v, .block.flush-v, header.flush-v, .cell.flush-v, nav {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
section.flush-t, .block.flush-t, header.flush-t, .cell.flush-t, nav.flush-t {
  padding-top: 0;
  margin-top: 0;
}
section.flush-b, .block.flush-b, header.flush-b, .cell.flush-b, nav.flush-b {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (max-width: 999px) {
  .hidden-sm {
    display: none;
  }
}

.small-print {
  align-items: center;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
}
.small-print p {
  text-transform: uppercase;
  margin-right: calc(var(--sp) * 3);
}
@media (min-width: 1000px) {
  .small-print p {
    margin-right: 0;
  }
}
.small-print svg {
  position: absolute;
  width: 20%;
  right: 0;
  bottom: calc(var(--sp) * -1);
  transform: rotate(15deg);
}

.section-header {
  border-bottom: var(--stroke) solid var(--border);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 250ms ease-out;
  min-height: var(--nav-height);
  display: flex;
}

header {
  width: 100%;
}

nav {
  background: none;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
  position: relative;
  height: var(--nav-height);
}
nav .nav-logo {
  display: flex;
  align-items: center;
}
nav a {
  text-transform: uppercase;
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
  opacity: 0.6;
}
nav ul {
  list-style: none;
}
nav .mmm-burger {
  width: 30px;
  height: 30px;
  position: relative;
}
nav .mmm-burger span {
  background: var(--color);
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
nav .mmm-burger .patty-top {
  margin-top: calc(var(--sp) * -0.5);
}
nav .mmm-burger .patty-bottom {
  margin-top: calc(var(--sp) * 0.5);
}
@media (min-width: 1000px) {
  nav .mmm-burger {
    display: none;
  }
}

.menu-desktop {
  display: none;
  margin: 0;
}
@media (min-width: 1000px) {
  .menu-desktop {
    display: flex;
    align-items: center;
    gap: var(--sp);
  }
}

.menu-mobile {
  visibility: hidden;
  background: var(--bg);
  position: fixed;
  left: 0;
  top: var(--nav-height);
  width: 100vw;
  height: 100vh;
  z-index: 25;
  padding: var(--sp);
}
.menu-mobile li {
  margin-top: var(--sp);
}
@media (min-width: 1000px) {
  .menu-mobile {
    display: none;
  }
}

.work-toggle {
  position: relative;
  padding-right: 15px;
}
.work-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: var(--color) transparent transparent transparent;
  transform: rotate(0deg) translate(0, -50%);
  transform-origin: 5px 0;
}

.dropdown-desktop {
  visibility: hidden;
  background: var(--bg);
  display: none;
  position: fixed;
  left: 0;
  top: calc(var(--nav-height) + 1px);
  width: 100%;
  z-index: 25;
  margin: 0;
  padding: calc(var(--sp) * 1.5) var(--sp);
  border-bottom: var(--stroke) solid var(--border);
}
.dropdown-desktop .block, .dropdown-desktop header {
  flex: 1;
}
.dropdown-desktop .block:before, .dropdown-desktop header:before {
  display: none;
}
.dropdown-desktop li:before {
  margin-right: 0.5em;
}
.dropdown-desktop li + li {
  margin-top: var(--sp);
}
@media (min-width: 1000px) {
  .dropdown-desktop {
    display: flex;
    justify-content: center;
  }
}

.menu-open .mmm-burger span {
  margin: 0;
}
.menu-open .mmm-burger .patty-top {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-open .mmm-burger .patty-middle {
  transform: translate(-50%, -50%) scaleX(0);
}
.menu-open .mmm-burger .patty-bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-open .menu-mobile, .menu-open .dropdown-desktop {
  visibility: visible;
}
.menu-open .work-toggle:after {
  transform: rotate(180deg) translate(0, -50%);
}
@media (max-width: 999px) {
  .menu-open {
    overflow: hidden;
  }
}

.button {
  cursor: pointer;
  background: var(--color);
  border: 1px solid var(--color);
  color: var(--bg);
  text-align: center;
  align-self: start;
  display: inline-block;
  justify-content: center;
  position: relative;
  transition: all 50ms ease-out;
  opacity: 1;
}
.button:hover, .button:focus {
  background: var(--bg);
  color: var(--color);
  text-decoration: none;
  border: 1px solid var(--color);
}

.btn-inline {
  display: block;
}
@media (min-width: 1000px) {
  .btn-inline {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
  }
}

.btn-md {
  border-radius: 45px;
  padding: calc(var(--sp) * 0.5) var(--sp);
}

.btn-lg {
  letter-spacing: 0.02em;
  border-radius: 45px;
  padding: var(--sp) calc(var(--sp) * 2.5);
}

.btn-xl {
  font-size: var(--text-lg);
  border-radius: 100px;
  padding: calc(var(--sp) * 2) calc(var(--sp) * 3);
}

.btn-light {
  background: var(--white);
  color: var(--black);
}

.btn-secondary {
  background: var(--white);
  color: var(--color);
  border: 1px solid var(--border);
}

.btn-dark {
  background: var(--black);
  color: var(--white);
}

.btn-page {
  background: var(--page);
  color: var(--black);
}

.icon {
  margin-top: 0;
}

.icon-lg {
  width: 36px;
  height: 36px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--sp);
  padding: 0 calc(var(--sp) * 3) var(--sp);
}
.button-group .button {
  margin: 0;
  width: 100%;
}

.flash-wrapper {
  display: flex;
  gap: calc(var(--sp) * 0.25);
}

.flash-dot {
  width: calc(var(--sp) * 0.75);
  height: calc(var(--sp) * 0.75);
  border: var(--stroke) solid var(--border);
  border-radius: 100%;
}

.flash-pill {
  width: calc(var(--sp) * 4);
  height: calc(var(--sp) * 0.75);
  border: var(--stroke) solid var(--border);
  border-radius: var(--sp);
}

.section-pattern {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: var(--path);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  border: 1px solid var(--border);
  border-width: 1px 0;
}
@media (min-width: 2000px) {
  .section-pattern {
    background-size: cover;
  }
}
.section-pattern svg {
  opacity: 0.15;
}

.theme-dark .section-pattern {
  border-color: var(--page);
}

.divider-pattern {
  position: relative;
  display: block;
  height: var(--sp);
}
.divider-pattern:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background-image: var(--path);
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 1000px) {
  .divider-pattern:before {
    background-size: auto 100%;
  }
}

.grid-stark {
  padding-top: 0;
  padding-bottom: 0;
}
.grid-stark:before {
  border-color: var(--black);
  box-shadow: 10px 10px 0 0 var(--black);
}
.grid-stark .cell, .grid-stark nav {
  background: var(--bg);
  color: var(--black);
}
.grid-stark .cell:before, .grid-stark nav:before {
  border-color: var(--black);
}

.theme-light .cell-tray .eyebrow, .theme-light .cell-tray .cs-award, .theme-light .cell-tray .eyebrow-pinned, .theme-light .cell-tray .separator-sm, .theme-light .cell-tray nav a, nav .theme-light .cell-tray a, .theme-light .cell-tray .button {
  opacity: 0.7;
}

.theme-dark .header-hero b, .theme-dark .header-split b {
  color: var(--page);
  font-weight: 600;
}
.theme-dark .header-hero .divider-tilt {
  opacity: 0.7;
}
.theme-dark .header-split:before {
  border-color: var(--border);
  opacity: 0.8;
}

.header-hero img {
  margin-bottom: calc(var(--sp) * 2);
}
.header-hero .divider-tilt {
  margin: calc(var(--sp) * 2) auto;
}
@media (min-width: 1000px) {
  .header-hero .divider-tilt {
    margin: var(--sp) auto;
  }
}
.header-hero .eyebrow, .header-hero .cs-award, .header-hero .eyebrow-pinned, .header-hero .separator-sm, .header-hero nav a, nav .header-hero a, .header-hero .button {
  margin: 0;
}

.table-results {
  margin-bottom: calc(var(--sp) * 3);
}
.table-results:before {
  border-color: var(--color);
  border-radius: var(--radius-md);
}
.table-results .eyebrow, .table-results .cs-award, .table-results .eyebrow-pinned, .table-results .separator-sm, .table-results nav a, nav .table-results a, .table-results .button {
  padding: calc(var(--sp) * 0.75) var(--sp);
}
.table-results .result {
  display: flex;
  gap: calc(var(--sp) * 0.5);
  padding-top: var(--sp);
  padding-bottom: var(--sp);
  padding-left: calc(var(--sp) * 3);
  padding-right: calc(var(--sp) * 3);
  flex-direction: column;
}
@media (min-width: 1000px) {
  .table-results .result {
    flex-direction: row;
    align-items: center;
    padding-top: calc(var(--sp) * 0.5);
    padding-bottom: calc(var(--sp) * 0.5);
    padding-left: calc(var(--sp) * 2);
    padding-right: calc(var(--sp) * 2);
    gap: var(--sp);
  }
}
.table-results .result:before {
  border-color: var(--color);
  left: calc(var(--sp) * 2);
  right: calc(var(--sp) * 2);
}
@media (min-width: 1000px) {
  .table-results .result:before {
    left: var(--sp);
    right: var(--sp);
  }
}
.table-results .result .title {
  flex: 1;
}
.table-results .result .stats {
  flex: 1;
  display: flex;
  gap: var(--sp);
}
.table-results .result .stat {
  margin: 0;
}

.home-hero-grid {
  padding: var(--sp);
}
@media (min-width: 1000px) {
  .home-hero-grid {
    padding: calc(var(--sp) * 2);
  }
}
.home-hero-grid .cell, .home-hero-grid nav {
  background: var(--black);
}
.home-hero-grid .cell .eyebrow, .home-hero-grid .cell .cs-award, .home-hero-grid nav .eyebrow, .home-hero-grid nav .cs-award, .home-hero-grid .cell .eyebrow-pinned, .home-hero-grid nav .eyebrow-pinned, .home-hero-grid .cell .separator-sm, .home-hero-grid nav .separator-sm, .home-hero-grid .cell nav a, nav .home-hero-grid .cell a, .home-hero-grid nav a, .home-hero-grid .cell .button, .home-hero-grid nav .button {
  padding: calc(var(--sp) * 0.5) var(--sp) calc(var(--sp) * 1.25);
  margin: 0 calc(var(--sp) * -2);
  border-bottom: var(--stroke) solid var(--border);
}
@media (min-width: 1000px) {
  .home-hero-grid .cell .eyebrow, .home-hero-grid .cell .cs-award, .home-hero-grid nav .eyebrow, .home-hero-grid nav .cs-award, .home-hero-grid .cell .eyebrow-pinned, .home-hero-grid nav .eyebrow-pinned, .home-hero-grid .cell .separator-sm, .home-hero-grid nav .separator-sm, .home-hero-grid .cell nav a, nav .home-hero-grid .cell a, .home-hero-grid nav a, .home-hero-grid .cell .button, .home-hero-grid nav .button {
    margin: 0 calc(var(--sp) * -1);
    padding: calc(var(--sp) * 0.5) var(--sp);
  }
}
.home-hero-grid .cell.sp-h-2 .eyebrow, .home-hero-grid .cell.sp-h-2 .cs-award, .home-hero-grid nav.sp-h-2 .eyebrow, .home-hero-grid nav.sp-h-2 .cs-award, .home-hero-grid .cell.sp-h-2 .eyebrow-pinned, .home-hero-grid nav.sp-h-2 .eyebrow-pinned, .home-hero-grid .cell.sp-h-2 .separator-sm, .home-hero-grid nav.sp-h-2 .separator-sm, .home-hero-grid .cell.sp-h-2 nav a, nav .home-hero-grid .cell.sp-h-2 a, .home-hero-grid nav.sp-h-2 a, .home-hero-grid .cell.sp-h-2 .button, .home-hero-grid nav.sp-h-2 .button {
  margin: 0 calc(var(--sp) * -2);
}
.home-hero-grid .eyebrow, .home-hero-grid .cs-award, .home-hero-grid .eyebrow-pinned, .home-hero-grid .separator-sm, .home-hero-grid nav a, nav .home-hero-grid a, .home-hero-grid .button {
  font-size: var(--text-md);
}

.home-intro:before {
  border-radius: 10px 10px 0 0;
}
.home-intro .hero-intro {
  margin: calc(var(--sp) * 3) 0;
}

.home-pitch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 1000px) {
  .home-pitch:before {
    border-radius: 0 0 0 10px;
  }
}
.home-pitch .txt-lg, .home-pitch h2, .home-pitch h3, .home-pitch h4, .home-pitch .dropdown-desktop li:before, .dropdown-desktop .home-pitch li:before {
  margin: calc(var(--sp) * 2) 0;
}
@media (min-width: 1000px) {
  .home-pitch .txt-lg, .home-pitch h2, .home-pitch h3, .home-pitch h4, .home-pitch .dropdown-desktop li:before, .dropdown-desktop .home-pitch li:before {
    margin: auto 0;
  }
}

.home-graphic {
  padding-bottom: var(--sp);
}
.home-graphic:before {
  border-radius: 0 0 10px 10px;
}
@media (min-width: 1000px) {
  .home-graphic:before {
    border-radius: 0 0 10px 0;
  }
}
.home-graphic svg {
  filter: drop-shadow(0 0 var(--sp) var(--shadow));
  margin-top: calc(var(--sp) * -1);
  animation: MoveUpDown 2.5s ease infinite;
}
.home-graphic svg:hover {
  animation: MoveUpDown 250ms ease infinite;
}
.home-graphic .txt-sm {
  margin-top: var(--sp);
}

.featured-work {
  padding: var(--sp);
}
@media (min-width: 1000px) {
  .featured-work {
    padding: calc(var(--sp) * 2);
  }
}
.featured-work .cell, .featured-work nav {
  background: var(--black);
}
.featured-work .cell:last-of-type, .featured-work nav:last-of-type, .featured-work .cell:last-of-type:before, .featured-work nav:last-of-type:before {
  border-radius: 0 0 15px 15px;
}

.cs-wrapper {
  position: relative;
  transition: transform 125ms ease-out;
}
@media (min-width: 1000px) {
  .cs-wrapper:before {
    content: "";
    background: var(--border);
    height: var(--stroke);
    position: absolute;
    left: calc(var(--sp) * -1);
    right: calc(var(--sp) * -1);
    top: 70.5px;
  }
}
.cs-wrapper + .cs-wrapper {
  margin-top: calc(var(--sp) * 1.5);
}
@media (min-width: 1000px) {
  .cs-wrapper + .cs-wrapper {
    margin-top: calc(var(--sp) * -0.5);
  }
}

.cs-wrapper:nth-child(1) {
  z-index: 4;
}

.cs-wrapper:nth-child(2) {
  z-index: 3;
}

.cs-wrapper:nth-child(3) {
  z-index: 2;
}

.cs-wrapper:nth-child(4) {
  z-index: 1;
}

.cs-wrapper:nth-child(5) {
  z-index: 0;
}

.case-studies {
  margin: calc(var(--sp) * 1.5) calc(var(--sp) * -1);
}
@media (min-width: 1000px) {
  .case-studies {
    margin: 0;
  }
}

.case-study {
  background: var(--case-color);
  color: var(--black);
  border-radius: var(--radius-md);
  position: relative;
  box-shadow: 0 4px 45px var(--shadow);
  max-height: 950px;
  transition: max-height 375ms ease-out, border-radius 375ms ease-out;
}
.case-study a {
  display: inline-block;
}
.case-study h3 {
  opacity: 1;
}
.case-study .cs-toggle {
  display: none;
}
@media (min-width: 1000px) {
  .case-study .cs-toggle {
    display: block;
    background-image: url("/images/svg/icon-minus.svg");
    background-size: cover;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
  }
}
@media (min-width: 1000px) {
  .case-study {
    border-radius: var(--radius-lg);
    overflow: hidden;
  }
}

.cs-header {
  cursor: pointer;
  padding: calc(var(--sp) * 1.5) var(--sp) 0;
}
@media (min-width: 1000px) {
  .cs-header {
    padding: var(--sp) calc(var(--sp) * 2);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--sp) * 1.5);
  }
}
.cs-header h3 {
  line-height: 0.9;
  letter-spacing: -0.01em;
}

.cs-title {
  font-size: var(--text-title);
  text-transform: uppercase;
  line-height: 0.85em;
  font-weight: 350;
  flex-shrink: 0;
  word-break: break-all;
}

.cs-award {
  padding: 10px 0 10px 15px;
  border-left: calc(var(--stroke) * 2) solid var(--black);
  font-weight: 300;
  margin-top: var(--sp);
}
@media (min-width: 1000px) {
  .cs-award {
    margin-top: 0;
    padding: 10px 0 10px 30px;
    margin-right: auto;
  }
}

.cs-content {
  gap: calc(var(--sp) * 2);
  overflow: hidden;
  padding: var(--sp);
}
@media (min-width: 1000px) {
  .cs-content {
    align-items: center;
    padding: 0 calc(var(--sp) * 2);
  }
}
.cs-content .button {
  margin-top: var(--sp);
}
.cs-content .cs-graphic {
  margin-top: calc(var(--sp) * 2.5);
  position: relative;
}
.cs-content .cs-graphic img {
  filter: drop-shadow(0 0 var(--sp) var(--shadow));
}
@media (min-width: 1000px) {
  .cs-content .cs-graphic img {
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  }
}

@media (min-width: 1000px) {
  .state-closed .case-study {
    border-radius: 100px;
    max-height: 141px;
  }
  .state-closed .case-study .cs-toggle {
    background-image: url("/images/svg/icon-plus.svg");
  }
}

.cs-wrapper.state-open {
  z-index: 15;
}

@media (min-width: 1000px) {
  .cs-wrapper:hover {
    z-index: 20;
    transform: scale(1.025) translateY(0);
    animation: none;
  }
}

.home-job .eyebrow, .home-job .eyebrow-pinned, .home-job .separator-sm, .home-job nav a, nav .home-job a, .home-job .button, .home-job .cs-award {
  margin-top: var(--sp);
}

.block-project-hero {
  --backing: var(--page);
  --border: var(--black);
  text-align: center;
  padding: calc(var(--sp) * 1.5) 0;
  margin: calc(var(--sp) * 1.5) calc(var(--sp) * 2) calc(var(--sp) * 3);
  max-width: calc(var(--maxw) - var(--sp) * 4);
  box-shadow: 0 5px 45px rgba(8, 7, 8, 0.25);
  border-radius: var(--radius-lg);
  z-index: 1;
}
.block-project-hero .divider-h {
  opacity: 0.15;
  height: calc(var(--stroke) * 1.5);
  margin: calc(var(--sp) * 0.5) 0;
}
.block-project-hero .eyebrow, .block-project-hero .eyebrow-pinned, .block-project-hero .separator-sm, .block-project-hero nav a, nav .block-project-hero a, .block-project-hero .button, .block-project-hero .cs-award {
  padding: 0 var(--sp);
}
.block-project-hero .hero-img-wrapper {
  margin: var(--sp) 0 0;
  padding: 0 var(--sp);
}
.block-project-hero img {
  border-radius: var(--radius-md);
  filter: drop-shadow(0 5px var(--sp) rgba(8, 7, 8, 0.15));
}

.celltest {
  opacity: 0.25 !important;
}

/*# sourceMappingURL=style.css.map */
