@font-face {
  font-family: "Office Times";
  src: url("/fonts/OfficeTimesSharp-Regular.woff2");
}
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

svg path, svg circle, svg rect, svg ellipse, svg line, svg polyline, svg polygon {
  vector-effect: non-scaling-stroke !important;
}

:root {
  --black: #080708;
  --white: #F5EEEB;
  --gray: #989997;
  --air-mail: #7895FF;
  --mit: #F76239;
  --nasdaq: #359D72;
  --seatgeek: #B2977D;
  --gradient-device: linear-gradient(to right bottom, #2E2A2E, #080708);
  --bg: var(--white);
  --color: var(--black);
  --borders: var(--black);
}

:root {
  --maxw: 1250px;
}

:root {
  --text-xl: 40px;
  --text-lg: 28px;
  --text-md: 18px;
}
@media (min-width: 1000px) {
  :root {
    --text-xl: 68px;
    --text-lg: 30px;
    --text-md: 20px;
  }
}

.txt-md, html, p {
  font-size: var(--text-md);
}

* + .txt-md, * + html, * + p {
  margin-top: 1em;
}

.txt-lg, h2, h3, h4 {
  font-size: var(--text-lg);
  line-height: 1.15em;
  letter-spacing: -0.03em;
}

* + .txt-lg, * + h2, * + h3, * + h4 {
  margin-top: 1em;
}

.txt-hero {
  font-size: var(--text-xl);
  line-height: 0.9em;
  letter-spacing: -0.03em;
}

* + .txt-hero {
  margin-top: var(--sp);
}

.txt-eyebrow, .link-button, nav a, .list-ruled .list-header, .separator-sm, .separator {
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.txt-eyebrow em, .link-button em, nav a em, .list-ruled .list-header em, .separator-sm em, .separator em {
  background: var(--page);
  color: var(--color);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 35px;
}

img, svg {
  display: block;
  width: 100%;
  min-width: 0;
  height: auto;
}

* + img, * + svg {
  margin-top: var(--sp);
}

a {
  color: inherit;
  text-decoration: none;
}

* + ul {
  margin-top: var(--sp);
}

.divider-h {
  background: var(--color);
  height: 2px;
  width: 100%;
}

* + .divider-h {
  margin-top: calc(var(--sp) * 2);
}

:root {
  --sp: 15px;
}
@media (min-width: 1000px) {
  :root {
    --sp: 30px;
  }
}

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
  line-height: 1.25em;
  letter-spacing: -0.02em;
  color: var(--black);
}

body {
  background: var(--page);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.theme-page {
  --bg: var(--page);
  --color: var(--black);
  --borders: var(--black);
}

.theme-light {
  --bg: var(--white);
  --color: var(--black);
  --borders: var(--black);
}

.theme-dark {
  --bg: var(--black);
  --color: var(--white);
  --borders: var(--gray);
}

.theme-page-dark {
  --bg: var(--black);
  --color: var(--page);
  --borders: var(--black);
}

.to-light, .to-dark {
  position: relative;
}
.to-light::before, .to-dark::before {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.to-light *, .to-dark * {
  z-index: 1;
}

.to-light::before {
  background: var(--white);
}

.to-dark::before {
  background: var(--black);
}

.no-bg {
  background: none;
}

section {
  background: var(--bg);
  color: var(--color);
  padding-bottom: calc(var(--sp) * 5);
}
section + section {
  padding-top: calc(var(--sp) * 2.5);
}
@media (min-width: 1000px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calc(var(--sp) * 2);
    padding-right: calc(var(--sp) * 2);
  }
}

.block, header {
  display: flex;
  flex-direction: column;
  padding: 0 var(--sp);
  width: 100%;
  max-width: var(--maxw);
}
@media (min-width: 1000px) {
  .block, header {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.cell, nav, .cell-wide {
  background: var(--bg);
  color: var(--color);
  display: flex;
  flex-direction: column;
  padding: calc(var(--sp) * 2) var(--sp);
  width: 100%;
  height: auto;
}
@media (min-width: 1000px) {
  .cell, nav, .cell-wide {
    padding: var(--sp);
  }
}

.cell-sm {
  padding: calc(var(--sp) / 2);
}

@media (min-width: 1000px) {
  .cell-lg, .content-large .cell, .content-large nav, .content-large .cell-wide {
    padding: calc(var(--sp) * 2);
  }
}

@media (min-width: 1000px) {
  .cell-tall {
    padding: calc(var(--sp) * 2) var(--sp);
  }
}

@media (min-width: 1000px) {
  .cell-xtall {
    padding: calc(var(--sp) * 4) var(--sp) calc(var(--sp) * 3);
  }
}

@media (min-width: 1000px) {
  .cell-wide {
    padding: var(--sp) calc(var(--sp) * 2);
  }
}

@media (min-width: 1000px) {
  .c-1 {
    width: 16.6666666667%;
  }
}

@media (min-width: 1000px) {
  .c-2 {
    width: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .c-3 {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .c-4 {
    width: 66.6666666667%;
  }
}

@media (min-width: 1000px) {
  .c-5 {
    width: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  .c-6 {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .o-1 {
    margin-left: 16.6666666667%;
  }
}

@media (min-width: 1000px) {
  .o-2 {
    margin-left: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .o-3 {
    margin-left: 50%;
  }
}

@media (min-width: 1000px) {
  .o-4 {
    margin-left: 66.6666666667%;
  }
}

@media (min-width: 1000px) {
  .o-5 {
    margin-left: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  .o-6 {
    margin-left: 100%;
  }
}

@media (min-width: 1000px) {
  .p-1 {
    margin-right: 16.6666666667%;
  }
}

@media (min-width: 1000px) {
  .p-2 {
    margin-right: 33.3333333333%;
  }
}

@media (min-width: 1000px) {
  .p-3 {
    margin-right: 50%;
  }
}

@media (min-width: 1000px) {
  .p-4 {
    margin-right: 66.6666666667%;
  }
}

@media (min-width: 1000px) {
  .p-5 {
    margin-right: 83.3333333333%;
  }
}

@media (min-width: 1000px) {
  .p-6 {
    margin-right: 100%;
  }
}

.dist-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dist-h * {
  margin-top: 0;
}

.wrapper.flush, .wrapper .flush, section.flush, section .flush, .block.flush, header.flush, .block .flush, header .flush, .cell.flush, nav.flush, .flush.cell-wide, .cell .flush, nav .flush, .cell-wide .flush {
  padding: 0;
}
.wrapper.flush-h, .wrapper .flush-h, section.flush-h, section .flush-h, .block.flush-h, header.flush-h, .block .flush-h, header .flush-h, .cell.flush-h, nav.flush-h, .flush-h.cell-wide, .cell .flush-h, nav .flush-h, .cell-wide .flush-h {
  padding-left: 0;
  padding-right: 0;
}
.wrapper.flush-v, .wrapper .flush-v, section.flush-v, section .flush-v, .block.flush-v, header.flush-v, .block .flush-v, header .flush-v, .cell.flush-v, nav.flush-v, .flush-v.cell-wide, .cell .flush-v, nav .flush-v, .cell-wide .flush-v {
  padding-top: 0;
  padding-bottom: 0;
}
.wrapper.flush-top, .wrapper .flush-top, section.flush-top, section .flush-top, .block.flush-top, header.flush-top, .block .flush-top, header .flush-top, .cell.flush-top, nav.flush-top, .flush-top.cell-wide, .cell .flush-top, nav .flush-top, .cell-wide .flush-top {
  padding-top: 0;
}
.wrapper.flush-bottom, .wrapper .flush-bottom, section.flush-bottom, section .flush-bottom, .block.flush-bottom, header.flush-bottom, .block .flush-bottom, header .flush-bottom, .cell.flush-bottom, nav.flush-bottom, .flush-bottom.cell-wide, .cell .flush-bottom, nav .flush-bottom, .cell-wide .flush-bottom {
  padding-bottom: 0;
}
.wrapper.large-bottom, .wrapper .large-bottom, section.large-bottom, section .large-bottom, .block.large-bottom, header.large-bottom, .block .large-bottom, header .large-bottom, .cell.large-bottom, nav.large-bottom, .large-bottom.cell-wide, .cell .large-bottom, nav .large-bottom, .cell-wide .large-bottom {
  padding-bottom: calc(var(--sp) * 6);
}

@media (min-width: 0) {
  .stroke, .content-grid .block, .content-grid header, .content-grid .cell, .content-grid nav, .content-grid .cell-wide, .content-outline, .content-outline-stacked {
    position: relative;
  }
  .stroke:before, .content-grid .block:before, .content-grid header:before, .content-grid .cell:before, .content-grid nav:before, .content-grid .cell-wide:before, .content-outline:before, .content-outline-stacked:before {
    content: "";
    pointer-events: none;
    border: 2px solid var(--borders);
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    z-index: 10;
  }
  .stroke > *, .content-grid .block > *, .content-grid header > *, .content-grid .cell > *, .content-grid nav > *, .content-grid .cell-wide > *, .content-outline > *, .content-outline-stacked > * {
    position: relative;
    z-index: 1;
  }
}

.bg-grid {
  background-image: linear-gradient(var(--borders) 2px, transparent 2px), linear-gradient(90deg, var(--borders) 2px, transparent 2px);
  background-position: -1px -1px;
  background-size: 33.333% 33.333%;
}

.content-outline:before, .content-outline-stacked:before {
  content: "";
  left: calc(var(--sp) / 2);
  right: calc(var(--sp) / 2);
  top: 0;
  bottom: 0;
  z-index: 10;
}
@media (min-width: 1000px) {
  .content-outline:before, .content-outline-stacked:before {
    left: calc(var(--sp) - 1px);
    right: calc(var(--sp) - 1px);
  }
}

.content-outline-stacked:before {
  box-shadow: 10px 10px 0 -2px var(--white), 10px 10px 0 0 var(--black);
}

.content-centered .cell, .content-centered nav, .content-centered .cell-wide {
  justify-content: center;
}

.row, .row-buttons, .row-tight {
  display: flex;
  flex-direction: row;
  gap: calc(var(--sp) * 2);
}
.row *, .row-buttons *, .row-tight * {
  margin-top: 0;
}

.row-tight {
  gap: calc(var(--sp) * 0.5);
}
.row-tight img, .row-tight svg {
  width: auto;
  flex: 1;
}

.row-buttons {
  margin-top: var(--sp);
  gap: calc(var(--sp) * 0.5);
}
.row-buttons .link-button {
  flex-grow: 1;
  margin: 0;
}

.separator {
  padding-top: var(--sp);
  margin-top: calc(var(--sp) * 3);
  border-top: 2px solid var(--color);
}

.separator-sm {
  min-height: 50px;
  padding-left: var(--sp);
  margin-top: calc(var(--sp) * 1);
  border-left: 2px solid var(--color);
  display: flex;
  align-items: center;
}

.list-ruled {
  list-style: none;
}
.list-ruled li {
  border-top: 2px solid var(--black);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 60px;
  padding: 15px 0 15px 30px;
}
.list-ruled li:before {
  content: "";
  background: var(--page);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 23px;
  left: 0;
}
.list-ruled .list-header {
  display: inline-block;
  flex-shrink: 0;
}
@media (min-width: 1000px) {
  .list-ruled .list-header {
    min-width: 33.333%;
  }
}
.list-ruled .list-subheader {
  flex: 1;
}

.youtube-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

header {
  padding: 0;
  padding-bottom: var(--sp);
}
@media (min-width: 1000px) {
  header {
    padding: 0 var(--sp);
  }
  header:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background: var(--white);
    border: 2px solid var(--color);
    border-width: 0 2px;
    margin: 0 -1px;
  }
}

.pg-home header:after {
  display: none;
}

nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  color: var(--white);
  padding: var(--sp);
  position: relative;
}
nav:before {
  content: "";
  border: 2px solid var(--borders);
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: -1;
  pointer-events: none;
}
@media (min-width: 1000px) {
  nav {
    margin: var(--sp) 0 0;
    padding: calc(var(--sp) * 2 / 3) var(--sp);
  }
}
nav .nav-logo {
  display: flex;
  align-items: center;
}
nav a {
  color: var(--white);
  text-decoration: none;
}
nav ul {
  list-style: none;
}
nav .mmm-burger {
  width: 30px;
  height: 30px;
  position: relative;
}
nav .mmm-burger span {
  background: var(--white);
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
nav .mmm-burger .patty-top {
  margin-top: calc(var(--sp) / 2 * -1);
}
nav .mmm-burger .patty-bottom {
  margin-top: calc(var(--sp) / 2);
}
@media (min-width: 1000px) {
  nav .mmm-burger {
    display: none;
  }
}

.menu-desktop {
  display: none;
  margin: 0;
}
@media (min-width: 1000px) {
  .menu-desktop {
    display: flex;
    align-items: center;
    gap: var(--sp);
  }
}

.menu-mobile {
  visibility: hidden;
  background: var(--black);
  color: var(--white);
  position: fixed;
  left: 0;
  top: 45px;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  padding: var(--sp);
  border-top: 2px solid var(--page);
}
.menu-mobile li {
  margin-top: var(--sp);
}
@media (min-width: 1000px) {
  .menu-mobile {
    display: none;
  }
}

.work-toggle {
  position: relative;
  padding-right: 15px;
}
.work-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: var(--white) transparent transparent transparent;
  transform: rotate(0deg) translate(0, -50%);
  transform-origin: 5px 0;
}

.dropdown-desktop {
  visibility: hidden;
  display: none;
  background: var(--bg);
  color: var(--white);
  position: fixed;
  left: 0;
  top: 95px;
  width: 100%;
  height: 100vh;
  z-index: 25;
  padding: var(--sp) calc(var(--sp) * 2);
  border-top: 2px solid var(--white);
}
.dropdown-desktop .block, .dropdown-desktop header {
  max-width: var(--maxw);
}
.dropdown-desktop li + li {
  margin-top: var(--sp);
}
@media (min-width: 1000px) {
  .dropdown-desktop {
    display: flex;
    justify-content: center;
  }
}

.pg-project .dropdown-desktop {
  background: var(--black);
  left: 1px;
  right: 1px;
  width: auto;
  top: 35px;
  position: absolute;
  height: auto;
}
.pg-project .dropdown-desktop .block, .pg-project .dropdown-desktop header, .pg-project .dropdown-desktop .cell, .pg-project .dropdown-desktop .cell-wide, .pg-project .dropdown-desktop nav {
  background: var(--black);
  padding: 0;
}
.pg-project .dropdown-desktop a {
  color: var(--white);
}

.menu-open {
  overflow: hidden;
}
@media (min-width: 1000px) {
  .menu-open.pg-project {
    overflow: auto;
  }
}
.menu-open .mmm-burger span {
  margin: 0;
}
.menu-open .mmm-burger .patty-top {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-open .mmm-burger .patty-middle {
  transform: translate(-50%, -50%) scaleX(0);
}
.menu-open .mmm-burger .patty-bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-open .menu-mobile, .menu-open .dropdown-desktop {
  visibility: visible;
}
.menu-open .work-toggle:after {
  transform: rotate(180deg) translate(0, -50%);
}

.link-button {
  cursor: pointer;
  background: var(--color);
  color: var(--bg);
  line-height: 1.25em;
  text-align: center;
  display: inline;
  align-self: start;
  margin: var(--sp) 0 0 0;
}

.btn-inline {
  display: block;
}
@media (min-width: 1000px) {
  .btn-inline {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
  }
}

.btn-hug {
  flex-grow: 0;
}

.btn-fill {
  flex-grow: 1;
}

.btn-md {
  border-radius: 45px;
  padding: 10px 20px;
}

.btn-lg {
  font-size: var(--text-lg);
  border-radius: 45px;
  padding: 10px 20px;
}

.btn-xl {
  font-size: var(--text-lg);
  border-radius: 100px;
  padding: var(--sp) calc(var(--sp) * 1.5);
}

.btn-light {
  background: var(--white);
  color: var(--black);
}

.btn-dark {
  background: var(--black);
  color: var(--white);
}

.btn-page {
  background: var(--page);
  color: var(--black);
}

.icon {
  margin-top: 0;
}

.icon-lg {
  width: 36px;
  height: 36px;
}

.chrome img, .chrome svg {
  width: auto;
}

.chrome-dot {
  height: 10px;
}
@media (min-width: 1000px) {
  .chrome-dot {
    height: 20px;
  }
}

.device-mockup {
  background: none;
  position: relative;
}

.device-tablet-phone {
  width: auto;
  margin-right: -0.5%;
}

.wrapper-hero {
  position: relative;
}
.wrapper-hero section, .wrapper-hero .block, .wrapper-hero header {
  background: none;
}
.wrapper-hero .block, .wrapper-hero header {
  position: relative;
  z-index: 1;
}
.wrapper-hero .to-light::before {
  z-index: 1;
}
.wrapper-hero .to-light::before img {
  position: relative;
  z-index: 2;
}

.page-graphic {
  --highlight: var(--page);
}
.page-graphic svg {
  width: 100%;
  height: 100%;
}

.huge-bg {
  --highlight: var(--page);
  opacity: 0;
  transition: all 500ms ease-out;
  position: fixed;
  left: 0;
  right: -100%;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.huge-bg svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 1000px) {
  .huge-bg {
    opacity: 1;
  }
}

.case-studies {
  margin-top: 35px;
}

.case-study {
  background: var(--case-color);
  color: var(--black);
  border-radius: 30px;
  position: relative;
  box-shadow: 0 4px 45px rgba(8, 7, 8, 0.25);
}
.case-study a {
  display: inline-block;
}
.case-study .cs-toggle {
  display: none;
}
@media (min-width: 1000px) {
  .case-study .cs-toggle {
    display: block;
    background-image: url("/images/svg/icon-plus.svg");
    background-size: cover;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
  }
}
.case-study + .case-study {
  margin-top: -10px;
}
@media (min-width: 1000px) {
  .case-study + .case-study {
    margin-top: -15px;
  }
}
@media (min-width: 1000px) {
  .case-study {
    border-radius: 45px;
    overflow: hidden;
    transition: transform 125ms ease-out, max-height 375ms ease-out, border-radius 375ms ease-out;
    animation: MoveUpDown 2s linear infinite;
  }
}

.case-study:nth-child(1) {
  z-index: 4;
  animation-delay: 0s;
}

.case-study:nth-child(2) {
  z-index: 3;
  animation-delay: 0.2857s;
}

.case-study:nth-child(3) {
  z-index: 2;
  animation-delay: 0.5714s;
}

.case-study:nth-child(4) {
  z-index: 1;
  animation-delay: 0.8571s;
}

.case-study:nth-child(5) {
  z-index: 0;
  animation-delay: 1.1428s;
}

.cs-header {
  cursor: pointer;
  padding: calc(var(--sp) * 2) var(--sp) 0;
}
@media (min-width: 1000px) {
  .cs-header {
    padding: var(--sp) calc(var(--sp) * 2);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--sp) * 1.5);
  }
}

.cs-title {
  line-height: 0.83em;
}
@media (min-width: 1000px) {
  .cs-title {
    min-width: 265px;
  }
}

.cs-award {
  font-size: var(--text-md);
  padding-left: 15px;
  border-left: 2px solid var(--black);
}
@media (min-width: 1000px) {
  .cs-award {
    font-size: var(--text-lg);
    margin-top: 0;
    margin-right: auto;
    padding-left: calc(var(--sp) * 1.5);
  }
}

.cs-content {
  gap: 60px;
  overflow: hidden;
  padding: var(--sp) var(--sp) 0;
}
@media (min-width: 1000px) {
  .cs-content {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--sp) * 2) calc(var(--sp) * 2);
  }
}
.cs-content .cs-copy {
  flex: 2;
}
.cs-content .cs-copy h3 {
  font-size: var(--text-md);
}
@media (min-width: 1000px) {
  .cs-content .cs-copy h3 {
    font-size: var(--text-lg);
  }
}
.cs-content .cs-graphic {
  overflow: hidden;
  height: calc(75vw - 90px);
  margin-top: 30px;
}
@media (min-width: 1000px) {
  .cs-content .cs-graphic {
    flex: 1.25;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .case-study.state-closed {
    border-radius: 100px;
    max-height: 178px;
  }
}

.case-study.state-open {
  z-index: 15;
  max-height: 950px;
}
.case-study.state-open .cs-toggle {
  background-image: url("/images/svg/icon-minus.svg");
}

@media (min-width: 1000px) {
  .case-study:hover {
    z-index: 20;
    transform: scale(1.025) translateY(0);
    animation: none;
  }
}

@media (min-width: 1000px) {
  .pg-home nav {
    padding-left: 0;
    padding-right: 0;
  }
}
.pg-home .home-footer .btn-inline {
  display: block;
}
.pg-home .home-footer span {
  display: none;
}
@media (min-width: 1000px) {
  .pg-home .home-footer .btn-inline, .pg-home .home-footer span {
    display: inline;
  }
}

.resume-row {
  display: block;
}
@media (min-width: 1000px) {
  .resume-row {
    display: flex;
    gap: 30px;
  }
  .resume-row p {
    margin-top: 0;
  }
}

.project-name {
  width: auto;
}

.project-pattern {
  --highlight: var(--bg);
  width: auto;
  flex: 1;
  padding: 0;
}
.project-pattern svg {
  width: 100%;
  height: 100%;
}

.project-footer {
  --highlight: var(--bg);
}

/*# sourceMappingURL=style.css.map */
